<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Author Information -->
<meta
name="Vaibhav Srivastava"
content="Author Email"
href="mailto:vaibhav.12may95@gmail.com?Subject=Got%20you%20from%Bolt%20Web%20App%20Code"
/>
<meta
name="Vaibhav Srivastava"
content="Author GitHub Portfolio"
href="https://github.com/vai1205"
/>
<title>We Code your Ideas!</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<!-- font-awesome -->
<link href="css/fa-all.css" rel="stylesheet" />
<!-- custom css -->
<link rel="stylesheet" href="css/styles.css">
<!-- google fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<!-- bootstrap4.3.1 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!-- Navbar -->
<nav id="menu" class="active navbar navbar-expand-lg navbar-light shadow-sm p-3 mb-5 bg-white rounded for-learn-more">
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <img src="images/logo-nav.png" style="padding-left: 2rem;" alt="bolt-logo" class="nav-logo-dark">
        <img src="images/learnMore/logo-nav.png" style="padding-left: 2rem;" alt="bolt-logo" class="nav-logo-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav for-learn-more-inner">
                <a class="nav-item nav-link for-learn-more-text <%= pageTemplateData.activeAbout %>" href="/about">About Us </a>
                <a class="nav-item nav-link for-learn-more-text <%= pageTemplateData.activeWhatWeDo %>" href="/whatWeDo">What we do</a>
                <a class="nav-item nav-link for-learn-more-text <%= pageTemplateData.activeBlogs %>" href="/blogs">Blogs</a>
                <a class="nav-item nav-link for-learn-more-text <%= pageTemplateData.activeOurWork %>" href="/ourWork">Our Work</a>
                <a class="nav-item nav-link for-learn-more-text <%= pageTemplateData.activeCareers %>" href="/careers">Careers</a>
                <form action="/contactUs" method="GET">
                    <button class="btn btn-danger my-2 my-sm-0" type="submit">Get Estimate</button>
                </form>
            </div>
        </div>
    </a>
</nav>