<%- include("partials/header") -%>
<link rel="stylesheet" href="css/learnMore.css">
<div class="top-section">
    <div class="carousel slide" data-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="<%= learnMoreData.topBannerImage %>" class="d-block w-100" alt="top-section-img">
                <div class="carousel-caption d-none d-md-block">
                    <h1>
                        <%= learnMoreData.topHead %>
                    </h1>
                    <p><%= learnMoreData.topPara %></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="middle-upper-section">
    <div class="row">
        <div class="col-lg-6 middle-upper-img-set">
            <img src="<%= learnMoreData.hireImg %>" class="middle-upper-img" alt="">
        </div>
        <div class="col-lg-6 middle-upper-text-set">
            <h1>
                <%= learnMoreData.hireHead %>
            </h1>
            <p>
                <%= learnMoreData.hirePara %>
            </p>
            <form action="/contactUs" method="GET">
                <button class="btn btn-lg btn-danger">
                    Get in touch
                </button>
            </form>
        </div>
    </div>
</div>
<div class="middle-upper-section" style = "<%= learnMoreData.displaySection %>">
    <div class="row">
        <div class="col-lg-6 middle-upper-text-set">
            <h1>
                <%= learnMoreData.hireHead1 %>
            </h1>
            <p>
                <%= learnMoreData.hirePara1 %>
            </p>
            <form action="/contactUs" method="GET">
                <button class="btn btn-lg btn-danger">
                    Get in touch
                </button>
            </form>
        </div>
        <div class="col-lg-6 middle-upper-img-set">
            <img src="<%= learnMoreData.hireImg1 %>" class="middle-upper-img" alt="">
        </div>
    </div>
</div>
<div class="middle-lower-section">
    <h1>Benefits for your business</h1>
    <div class="container">
        <div class="row box-container">
            <div class="col-lg-3 col-md-6">
                <div class="small-img">
                    <img src="<%= learnMoreData.liImg1 %>" alt="">
                </div>
                <div class="small-text">
                    <h3><%= learnMoreData.liHead1 %></h3>
                    <p><%= learnMoreData.liPara1 %></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="small-img">
                    <img src="<%= learnMoreData.liImg2 %>" alt="">
                </div>
                <div class="small-text">
                    <h3><%= learnMoreData.liHead2 %></h3>
                    <p><%= learnMoreData.liPara2 %></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="small-img">
                    <img src="<%= learnMoreData.liImg3 %>" alt="">
                </div>
                <div class="small-text">
                    <h3><%= learnMoreData.liHead3 %></h3>
                    <p><%= learnMoreData.liPara3 %></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="small-img">
                    <img src="<%= learnMoreData.liImg4 %>" alt="">
                </div>
                <div class="small-text">
                    <h3><%= learnMoreData.liHead4 %></h3>
                    <p><%= learnMoreData.liPara4 %></p>
                </div>
            </div>   
        </div>
    </div>
</div>
<div class="lower-section">
    <h1>Way We Work</h1>
    <div class="lower-section-img">
        <img src="images/learnMore/work.jpg" alt="" style="width: 100%" class="work-img-desktop">
        <img src="images/learnMore/work-mobile.jpg" alt="" style="width: 100%" class="work-img-mobile">
    </div>
    <hr>
    <div class="mainstays">
        <h3>Mainstays of Bolt Infotech</h3>
        <div class="work-list">
            <div class="row work-list-box">
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li>Client-centric approach</li>
                        <li>State-of-the-art infrastructure</li>
                        <li>Transparent pricing and workflow</li>
                        <li>Reliability and reasonability</li>
                        <li>Flexibility and scalability </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>UX-focused development model</li>
                            <li>Global presence</li>
                            <li>SLA and NDA at place</li>
                            <li>Engagement models - Constrained Budget & Evolving Scope</li>
                            
                        </ul>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonials">
    <h1>Testimonials</h1>
    <div id="testimonial-carousel" class="carousel slide" data-ride= "200">
        <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
                <h3 class="testimonial-text">“They listened to my ideas, made recommendation and helped me make the app that I wanted to make.”</h3>
                <img class="testimonial-image" src="images/learnMore/lady-img.jpg" alt="dog-profile"> <br />
                <em>Beverly, Illinois</em>
            </div>
            <div class="carousel-item container-fluid">
                <h3 class="testimonial-text">“They added life to my idea, Digitally!”</h3>
                <img class="testimonial-image" src="images/learnMore/man-img.jpg" alt="lady-profile"><br />
                <em>James, USA</em>
            </div>
        </div>
        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon">
            </span>
        </a>
        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon">
            </span>
        </a>
    </div>   
</div>
<div class="cta">
    <h1>Go from Local to Global</h1>
    <div class="container container-cta">
        <div class="row">
            <div class="col-lg-9">
                <p>We help you grow your business from local to global level with our user-friendly, high quality web and mobile app solutions.We help you grow your business from local to global level with our user-friendly, high quality web .</p>
            </div>
            <div class="col-lg-3">
                <form action="/contactUs" method="GET">
                    <button class="btn btn-lg btn-danger">Let's Work Together</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="free-consultation">
    <h1>Request Free-consultation</h1>
    <form action="/freeConsultation" method="POST">
        <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email*" name="clientEmail" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control"  placeholder="Your Name*" name="clientName" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control"  placeholder="Your Phone Number*" name="clientMobile" required>
        </div>
        <div class="form-group">
            <textarea class="form-control" placeholder="Your Idea*" rows="3" name="idea" required></textarea>
        </div>
        <button type="submit" class="btn btn-danger btn-lg" style="margin-top: 3%;">Get a Call Back!</button>
    </form>
</div>
<div class="foot">
<%- include("partials/footer-social") -%>
</div>
<%- include("partials/footer") -%> 
