<%- include("partials/header") -%>
<link rel="stylesheet" href="css/pageTemplate.css">
<div class="banner">
    <img src="<%= pageTemplateData.bannerImg %>" alt="" class="banner-img">
    <div class="banner-text">
        <h1><%= pageTemplateData.bannerTextPart1 %><br /><%= pageTemplateData.bannerTextPart2 %></h1>
    </div>
</div>

<div class="modal fade" id="hireModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Drop your <span>Resume</span>!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form ref='uploadForm' 
            id='uploadForm' action="/upload" method="POST" encType="multipart/form-data">
                <div class="form-group">
                    <label for="exampleFormControlFile1"> <span> CODE</span> is life and <span>LOVE</span> Coffee? <br /> Upload your Resume <i>(File-Size: Upto 5 mb)</i>, and we will be in touch with you soon :)</label>
                    <input type="file" class="form-control-file form-control" id="exampleFormControlFile1" name="fileName" required>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Upload</button>
            </form>
        </div>
        </div>
    </div>
</div>

<div class="mission">
    <h1><%= pageTemplateData.bannerSideHead %></h1>
    <p><%= pageTemplateData.bannerSidePara %></p>
</div>
<div class="divider">
    <hr>
</div>
<div class="container">
    <div class="row" style="<%= pageTemplateData.feature1Hide %>">
        <div class="col-lg-5 col-md-5 js-tilt" data-tilt>
            <img src="<%= pageTemplateData.feature1Img %>" alt="">
        </div>
        <div class="col-lg-7 col-md-7 feature-text">
            <h1><%= pageTemplateData.feature1HeadPart1 %> <span><%= pageTemplateData.feature1HeadPart2 %></span> </h1>
            <p><%= pageTemplateData.feature1Para %></p>
            <form action="<%= pageTemplateData.btn1route %>" method="GET">
            <button class="btn btn-danger" style = "<%= pageTemplateData.btnHide %>"><%= pageTemplateData.btn1text %></button>
            </form>
            <button type="submit" class="btn btn-danger modal-btn" style = "<%= pageTemplateData.modalBtnHide %>"><%= pageTemplateData.btn1text %></button>
            <a href="files/0 copy.png" role="button" class="btn btn-danger" style=" text-decoration: none; border-radius: 3rem; <%= pageTemplateData.downloadBtnHide %>" download><%= pageTemplateData.btn1text %></a>
        </div>
    </div>
    <div class="divider" style="<%= pageTemplateData.feature2Hide %>">
        <hr>
    </div>
    <div class="row" style="<%= pageTemplateData.feature2Hide %>">
        <div class="col-lg-7 col-md-7 feature-text">
            <h1><%= pageTemplateData.feature2HeadPart1 %> <span><%= pageTemplateData.feature2HeadPart2 %></span> </h1>
            <p><%= pageTemplateData.feature2Para %></p>
            <form action="<%= pageTemplateData.btn2route %>" method="GET">
            <button class="btn btn-danger" style="<%= pageTemplateData.btnHide %>"><%= pageTemplateData.btn2text %></button>
            </form>
            <button type="submit" class="btn btn-danger modal-btn" style = "<%= pageTemplateData.modalBtnHide %>"><%= pageTemplateData.btn2text %></button>
            <a href="files/0 copy.png" role="button" class="btn btn-danger" style=" text-decoration: none; border-radius: 3rem; <%= pageTemplateData.downloadBtnHide %>" download><%= pageTemplateData.btn2text %></a>
        </div>
        <div class="col-lg-5 col-md-5 js-tilt" data-tilt>
            <img src="<%= pageTemplateData.feature2Img %>" alt=""  class="<%= pageTemplateData.cssPatch %>">
        </div>
    </div>
    <div class="divider" style="<%= pageTemplateData.feature3Hide %>">
        <hr>
    </div>
    <div class="row" style="<%= pageTemplateData.feature3Hide %>">
        <div class="col-lg-5 col-md-5 js-tilt" data-tilt>
            <img src="<%= pageTemplateData.feature3Img %>" alt="">
        </div>
        <div class="col-lg-7 col-md-7 feature-text">
            <h1><%= pageTemplateData.feature3HeadPart1 %> <span><%= pageTemplateData.feature3HeadPart2 %></span> </h1>
            <p><%= pageTemplateData.feature3Para %></p>
            <form action="<%= pageTemplateData.btn3route %>" method="GET">
            <button class="btn btn-danger" style="<%= pageTemplateData.btnHide %>"><%= pageTemplateData.btn3text %></button>
            </form>
            <button type="submit" class="btn btn-danger modal-btn" style = "<%= pageTemplateData.modalBtnHide %>"><%= pageTemplateData.btn3text %></button>
            <a href="files/0 copy.png" role="button" class="btn btn-danger" style=" text-decoration: none; border-radius: 3rem; <%= pageTemplateData.downloadBtnHide %>" download><%= pageTemplateData.btn3text %></a>
        </div>
    </div>
    <div class="divider" style="<%= pageTemplateData.feature4Hide %>">
        <hr>
    </div>
    <div class="row" style="<%= pageTemplateData.feature4Hide %>">
        <div class="col-lg-7 col-md-7 feature-text">
            <h1><%= pageTemplateData.feature4HeadPart1 %> <span><%= pageTemplateData.feature4HeadPart2 %></span> </h1>
            <p><%= pageTemplateData.feature4Para %></p>
            <form action="<%= pageTemplateData.btn4route %>" method="GET">
            <button class="btn btn-danger" style="<%= pageTemplateData.btnHide %>"><%= pageTemplateData.btn4text %></button>
            </form>
            <button type="submit" class="btn btn-danger modal-btn" style = "<%= pageTemplateData.modalBtnHide %>"><%= pageTemplateData.btn4text %></button>
            <a href="files/0 copy.png" role="button" class="btn btn-danger" style=" text-decoration: none; border-radius: 3rem; <%= pageTemplateData.downloadBtnHide %>" download><%= pageTemplateData.btn4text %></a>
        </div>
        <div class="col-lg-5 col-md-5 js-tilt" data-tilt>
            <img src="<%= pageTemplateData.feature4Img %>" alt="">
        </div>
    </div>
    <div class="divider" style="<%= pageTemplateData.feature5Hide %>">
        <hr>
    </div>
    <div class="row" style="<%= pageTemplateData.feature5Hide %>">
        <div class="col-lg-5 col-md-5 js-tilt" data-tilt>
            <img src="<%= pageTemplateData.feature5Img %>" alt="">
        </div>
        <div class="col-lg-7 col-md-7 feature-text">
            <h1><%= pageTemplateData.feature5HeadPart1 %> <span><%= pageTemplateData.feature5HeadPart2 %></span> </h1>
            <p><%= pageTemplateData.feature5Para %></p>
            <form action="<%= pageTemplateData.btn5route %>" method="GET">
            <button class="btn btn-danger" style="<%= pageTemplateData.btnHide %>"><%= pageTemplateData.btn5text %></button>
            </form>
            <button type="submit" class="btn btn-danger modal-btn" style = "<%= pageTemplateData.modalBtnHide %>"><%= pageTemplateData.btn5text %></button>
            <a href="files/0 copy.png" role="button" class="btn btn-danger" style=" text-decoration: none; border-radius: 3rem; <%= pageTemplateData.downloadBtnHide %>" download><%= pageTemplateData.btn5text %></a>
        </div>
    </div>
</div>
<div class="divider">
    <hr>
</div>
<div class="mid-heading">
    <h1><%= pageTemplateData.cardHeadPart1 %><span><%= pageTemplateData.cardHeadPart2 %></span> </h1>
</div>
<div class="card-deck card-group-custom">
    <div class="card">
        <img src="<%= pageTemplateData.card1Img %>" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title"><%= pageTemplateData.card1HeadPart1 %> <span><%= pageTemplateData.card1HeadPart2 %></span> </h4>
            <hr>
            <p class="card-text"><%= pageTemplateData.card1Para %></p>
            <a href="files/0 copy.png" role="button" class="btn btn-danger" style=" text-decoration: none; border-radius: 3rem; <%= pageTemplateData.downloadBtnHide %>" download><%= pageTemplateData.btn6text %></a>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
    </div>
    <div class="card">
        <img src="<%= pageTemplateData.card2Img %>" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title"><%= pageTemplateData.card2HeadPart1 %> <span><%= pageTemplateData.card2HeadPart2 %></span> </h4>
            <hr>
            <p class="card-text"><%= pageTemplateData.card2Para %></p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <a href="files/0 copy.png" role="button" class="btn btn-danger" style=" text-decoration: none; border-radius: 3rem; <%= pageTemplateData.downloadBtnHide %>" download><%= pageTemplateData.btn7text %></a>
        </div>
    </div>
    <div class="card">
        <img src="<%= pageTemplateData.card3Img %>" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title"><%= pageTemplateData.card3HeadPart1 %> <span><%= pageTemplateData.card3HeadPart2 %></span> </h4>
            <hr>
            <p class="card-text"><%= pageTemplateData.card3Para %></p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <a href="files/0 copy.png" role="button" class="btn btn-danger" style=" text-decoration: none; border-radius: 3rem; <%= pageTemplateData.downloadBtnHide %>" download><%= pageTemplateData.btn8text %></a>
        </div>
    </div>
</div>
<div class="cta" style="<%= pageTemplateData.sectionHide %>">
    <h1>Wanna Collaborate?</h1><br />
    <p>It will be fun transforming your idea digitally.</p>
    <form action="/contactUs" method="GET">
    <button class="btn btn-lg btn-danger">Let's Work Together!</button>
    </form>
</div>
<%- include("partials/footer-social") -%>
<%- include("partials/footer") -%> 
