<%- include("partials/header") -%>
<link rel="stylesheet" href="css/viewStyling.css">
<link rel="stylesheet" href="css/viewStylingResponsive.css">
<div class="page-content">
    <!-- top-banner -->
    <div class="top-banner" style="margin-top: 5.7rem;">
        <img src="<%= data.topBannerImage %>" alt="top-banner" style="width: 100%;">
        <div class="overlay-text">
            <h1>
            <!-- Mobile App Development -->
            </h1>
            <p>
            <!-- Lorem ipsum dolor sit amet consectetur, adipisicing elit Praesentium doloremque ducimus. -->
            </p>
        </div>         
    </div>
    <!-- below-banner -->
    <!-- navbar2 -->
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm p-3 bg-white rounded" id="navbar2">
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar2-band" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button> -->
        <!-- <a class="navbar-brand" href="#"> -->
            <img src="images/favicon.ico" style="padding-left: 2rem;" alt="bolt-logo-b" id="bolt-logo-b">
            <!-- <div class="navbar-collapse" id="navbar2-band"> -->
                <div class="navbar-nav" id="navbar2-items">
                    <a class="nav-item nav-link <%= data.activeMobileDevelopment %>" href="/mobileDevelopment ">
                        Mobile 
                        <span class="mobile-navbar2-text">
                        Development</span> <span class="sr-only">(current)</span>
                    </a>
                    <a class="nav-item nav-link <%= data.activeWebDevelopment %>" href="/webDevelopment ">
                        Web 
                        <span class="mobile-navbar2-text">
                        Development
                        </span> 
                    </a>
                    <a class="nav-item nav-link <%= data.activeGraphicsDesign %>" href="/graphicsDesign">
                        <span class="mobile-navbar2-text">
                        Graphics 
                        </span>
                        Design
                    </a>
                    <a class="nav-item nav-link <%= data.activeMobileGames %>" href="/mobileGames">
                        <span class="mobile-navbar2-text">
                        Mobile 
                        </span>
                        Games
                    </a>
                    <a class="nav-item nav-link <%= data.activeCustomizedSoftware %>" href="/customizedSoftware">
                        Customized 
                        <span class="mobile-navbar2-text">
                        Software
                        </span>
                    </a>
                </div>
            <!-- </div> -->
        <!-- </a> -->
    </nav>
    <!-- page content for nav selection -->
    <div class="below-nav2-section" style="margin-top: 0.2rem;">
    <img src="<%= data.imgDesktop %>" alt="desktop-img" class="img-desktop">
    <img src="<%= data.imgMobile %>" alt="mobile-img" class="img-mobile">
        <div class="text-nav2-section">
            <h1><%= data.nav2head %></h1>
            <p><%= data.nav2para %></p>
        </div>
    </div>
    <div class="mobile-apps-for">
        <img src="<%= data.appsForImg %>" alt="mobile-img">
        <div class="mobile-apps-for-text">
            <div class="container">
                <div class="row">
                <h1 style="text-align: center; margin: 0 auto;"><%= data.appsForHead %></h1>
                    <div class="col-lg-4 col-md-6 for-innerText">
                            <i class="<%= data.appsForIoneClass %>" style="margin-right:5%; font-size: 1.5rem;" class="socmed-icon"></i>
                            <h3><%= data.appsForH3one %></h3>
                            <p><%= data.appsForPone %></p>
                    </div>
                    <div class="col-lg-4 col-md-6 for-innerText">
                            <i class="<%= data.appsForItwoClass %>" style="margin-right:5%; font-size: 1.5rem;" class="socmed-icon"></i>
                            <h3><%= data.appsForH3two %></h3>
                            <p><%= data.appsForPtwo %></p>
                    </div>
                    <div class="col-lg-4 col-md-6 for-innerText">
                            <i class="<%= data.appsForIthreeClass %>" style="margin-right:5%; font-size: 1.5rem;" class="socmed-icon"></i>
                            <h3><%= data.appsForH3three %></h3>
                            <p><%= data.appsForPthree %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ios-apps">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="<%= data.iosImgDesktop %>" alt="ios-img" class="ios-apps-img ios-img-desktop">
                    <div class="ios-heading-mobile">
                        <h1><%= data.iosHeadOne %></h1>
                    </div>
                    <img src="<%= data.iosImgMobile %>" alt="ios-img" class="ios-apps-img ios-img-mobile">
                </div>
                <div class="col-lg-6">
                    <div class="jumbotron jumbotron-ios-apps jumbotron-ios-apps-tab " style="margin-bottom: 0" style="padding: 2.5%;"></div>
                    <div class="jumbotron jumbotron-ios-apps">
                        <h1 class="ios-heading-desktop"><%= data.iosHeadTwo %></h1>
                        <p> <%= data.iosPara %></p>
                        <hr size="3rem">
                        <ul class="iOS-list">
                            <li class="li-iOS"> <a href="#"><%= data.liIosOne %></a></li>
                            <li class="li-iOS"> <a href="#"><%= data.liIosTwo %></a></li>
                            <li class="li-iOS"> <a href="#"><%= data.liIosThree %></a></li>
                            <li class="li-iOS"> <a href="#"><%= data.liIosFour %></a></li>
                        </ul>
                        <form action="<%= data.learnMorePath %>" method="GET">
                            <button class="btn btn-outline-danger btn-lg">Learn More</button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="android-apps" style="<%= data.hide %> ">
        <div class="container-android">
            <div class="row">
                <div class="col-lg-6 col-android">
                    <img src="<%= data.androidAppsPart1DesktopImg %>" alt="" id="android-bg-img1" class="img-responsive android-bg-img android-apps-part-1-desktop">
                    <img src="<%= data.androidAppsPart1MobileImg %>" alt="" id="android-bg-img1" class="img-responsive android-bg-img android-apps-part-1-mobile">
                </div>
                <div class="col-lg-6 col-android">
                    <img src="<%= data.androidAppsPart2DesktopImg %>" alt="" id="android-bg-img2" class="img-responsive android-bg-img android-apps-part-2-desktop">
                    <img src="<%= data.androidAppsPart2MobileImg %>" alt="" id="android-bg-img2" class="img-responsive android-bg-img android-apps-part-2-mobile">
                    <div class="jumbotron jumbotron-android-apps jumbotron-android-apps2">
                        <h1 class="android-heading"><%= data.androidHeadOne %></h1>
                        <p><%= data.androidPara %></p>
                        <hr size="3rem">
                        <ul class="android-list">
                            <li class="li-android"> <a href="#"><%= data.liAndroidOne %></a></li>
                            <li class="li-android"> <a href="#"><%= data.liAndroidTwo %></a></li>
                            <li class="li-android"> <a href="#"><%= data.liAndroidThree %></a></li>
                            <li class="li-android"> <a href="#"><%= data.liAndroidFour %></a></li>
                        </ul>
                        <button class="btn btn-outline-light btn-lg">Learn More</button>
                    </div>   
                </div>
            </div>
        </div>
    </div>
    <div class="cross-platform" style= "<%= data.hide %> ">
        <div class="jumbotron jumbotron-cross-platform jumbotron-cross-platform-mobile"></div>
        <div class="jumbotron jumbotron-cross-platform" style="position: relative;">
           <h1><%= data.crossPlatformHeadOne %></h1>
           <p><%= data.crossPlatformPara %></p>
           <div class="container tech-box-container">
                <div class="input-group-prepend tech-box">
                    <span class="input-group-text box-color-cross-platform">
                        <i class="<%= data.crossIoneClass %>"></i>
                    </span>
                </div>
                <div class="input-group-prepend tech-box">
                    <span class="input-group-text box-color-cross-platform">
                        <i class="<%= data.crossItwoClass %>"></i>
                    </span>
                </div>
                <div class="input-group-prepend tech-box">
                    <span class="input-group-text box-color-cross-platform">
                        <i class="<%= data.crossIthreeClass %>"></i>
                    </span>
                </div>
                <div class="input-group-prepend tech-box">
                    <span class="input-group-text box-color-cross-platform">
                        <i class="<%= data.crossIfourClass %>"></i>
                    </span>
                </div>
           </div>
           <img src="<%= data.crossPlatformImg %>" alt="" width="100%">
        </div>   
    </div>
    <div class="cloud-section">
        <img src="<%= data.cloudImg %>" alt="">
        <div class="cloud-selection-content">
            <div class="jumbotron" style="margin-bottom: 0; background-color: transparent;"></div>
            <h1><%= data.cloudHead %></h1>
            <p><%= data.cloudPara %></p>
            <div class="container tech-box-container tech-box-container-cloud-mobile">
                <div class="input-group-prepend tech-box">
                    <span class="input-group-text box-color-cloud-section">
                        <i class="<%= data.cloudIoneclass %>"></i>
                    </span>
                </div>
                <div class="input-group-prepend tech-box">
                    <span class="input-group-text box-color-cloud-section">
                        <i class="<%= data.cloudItwoclass %>"></i>
                    </span>
                </div>
                <div class="input-group-prepend tech-box">
                    <span class="input-group-text box-color-cloud-section">
                        <i class="<%= data.cloudIthreeclass %>"></i>
                    </span>
                </div>
                <div class="input-group-prepend tech-box">
                    <span class="input-group-text box-color-cloud-section">
                        <i class="<%= data.cloudIfourclass %>"></i>
                    </span>
                </div>
            </div>    
            <ul class="cloud-section-list">
                <li class="li-cloud"><a href="#"><%= data.liCloudOne %></a></li>
                <li class="li-cloud"><a href="#"><%= data.liCloudTwo %></a></li>
                <li class="li-cloud"><a href="#"><%= data.liCloudThree %></a></li>
                <li class="li-cloud"><a href="#"><%= data.liCloudFour %></a></li>
            </ul>
            <button class="btn btn-outline-light btn-lg">Learn More</button>  
        </div>
    </div>
    <div class="worked-section">
        <div class="jumbotron jumbotron-works" style="padding: 2.5%"></div>
        <div class="jumbotron jumbotron-works">
            <h1><%= data.workedHead %></h1>
            <div class="container worked-box-container">
                <div class="row row-industry-mobile">
                    <div class="col-lg-2 col-md-4">
                        <div class="input-group-prepend tech-box">
                            <span class="input-group-text box-color-worked-section">
                                <i class="<%= data.workedIoneClass  %>"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="input-group-prepend tech-box">
                            <span class="input-group-text box-color-worked-section">
                                <i class="<%= data.workedItwoClass  %>"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="input-group-prepend tech-box">
                            <span class="input-group-text box-color-worked-section">
                                <i class="<%= data.workedIthreeClass  %>"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="input-group-prepend tech-box">
                            <span class="input-group-text box-color-worked-section">
                                <i class="<%= data.workedIfourClass  %>"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="input-group-prepend tech-box">
                            <span class="input-group-text box-color-worked-section">
                                <i class="<%= data.workedIfiveClass  %>"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="input-group-prepend tech-box">
                            <span class="input-group-text box-color-worked-section">
                                <i class="<%= data.workedIsixClass  %>"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio">
        <div class="jumbotron jumbotron-portfolio jumbotron-portfolio-mobile" style="padding:2.5%;"></div>
        <div id="portfolio-content" class="jumbotron jumbotron-portfolio">
            <div class="text-for-portfolio">
                <h1><%= data.portfolioHead %></h1>
                <p><%= data.portfolioPara %></p> 
            </div>
            <div class="portfolio-animation-container">
                <div class="portfolio-wrapper">
                    <div class="project-card-container" id="pc0">
                        <div class="project-card" id="pi0">
                            <div class="project-dp">
                                <img src="<%= data.portfolioImg1 %>" alt="project-dp" width="100%">    
                            </div>
                            <div class="project-description" id="pd0">
                                <div class="project-info">
                                    <h3 style="text-align: center"><%= data.portfolioHead1 %></h3>
                                    <p><%= data.portfolioPara1 %></p>
                                    <button class="btn btn-outline-light">Learn More</button> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-card-container" id="pc1">
                        <div class="project-card" id="pi0">
                            <div class="project-dp">
                                <img src="<%= data.portfolioImg2 %>" alt="project-dp" width="100%">    
                            </div>
                            <div class="project-description" id="pd0">
                                <div class="project-info">
                                    <h3 style="text-align: center"><%= data.portfolioHead1 %></h3>
                                    <p><%= data.portfolioPara2 %></p>
                                    <button class="btn btn-outline-light">Learn More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-card-container" id="pc2">
                        <div class="project-card" id="pi0">
                            <div class="project-dp">
                                <img src="<%= data.portfolioImg3 %>" alt="project-dp" width="100%">    
                            </div>
                            <div class="project-description" id="pd0">
                                <div class="project-info">
                                    <h3 style="text-align: center"><%= data.portfolioHead1 %></h3>
                                    <p><%= data.portfolioPara3 %></p>
                                    <button class="btn btn-outline-light">Learn More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
        </div>
    </div>
    <div class="contact">
        <div class="jumbotron jumbotron-contact jumbotron-contact-mobile" style="padding:2.5%;"></div>
        <div class="jumbotron jumbotron-contact">
            <h2>Ready to work with us? Tell us more.</h2>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="jumbotron jumbotron-contact jumbotron-contact-mobile" style="padding:10%;"></div>
                        <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active container-fluid">
                                <p class="testimonial-text">
                                <%= data.client1Feedback %>
                                </p>
                                <div class="testimonial-client">
                                    <img class="testimonial-image" src="<%= data.client1Img %>" alt="lady-profile"><br/>
                                    <em><%= data.client1Name %></em>
                                </div>
                            </div>
                            <div class="carousel-item container-fluid">
                                <p class="testimonial-text">
                                <%= data.client2Feedback %> 
                                </p>
                                <div class="testimonial-client">
                                    <img class="testimonial-image" src="<%= data.client2Img %>" alt="lady-profile"><br/>
                                    <em><%= data.client2Name %></em>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        </a>
                        </div>
                        <div class="contact-image">
                            <img src="images/contact.jpg" alt="" style="max-width: 100%;">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form action="/contact" method="POST">
                        <div class="form-container">
                            <div class="form-group">
                                <label for="clientName"><span>*</span>Name</label>
                                <input type="text" class="form-control" id="clientName" placeholder="Enter Name">
                                <small id="clientNameHelp" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <label for="queryTopic"><span>*</span>Select a topic</label>
                                <div class="selectWrapper">
                                    <select class="form-control selectBox" id="queryTopic">
                                            <option>Select</option>
                                            <option>Mobile Development</option>
                                            <option>Web Development</option>
                                            <option>Graphics Designing</option>
                                            <option>Mobile Games</option>
                                            <option>Customized Software</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="clientEmail1"><span>*</span>Email address</label>
                                <input type="email" class="form-control" id="clientEmail1" placeholder="email@example.com">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                            <label for="clientMobileNumber"><span>*</span>Mobile Number</label>
                            <input type="number" class="form-control" id="clientMobileNumber" placeholder="Enter Mobile Number">
                            <small id="mobileNumberHelp" class="form-text text-muted">To get in touch with you on voice.</small>
                            </div>
                            <div class="form-group">
                                <label for="clientCompanyName">Company Name</label>
                                <input type="text" class="form-control" id="clientCompanyName" placeholder="Enter Company Name">
                                <small id="clientCompanyNameHelp" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <label for="clientProjectIdea"><span>*</span>Idea</label>
                                <textarea class="form-control" id="clientProjectIdea" rows="3" placeholder="Share your project idea in brief"></textarea>
                            </div>
                            <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer-social") -%>
<%- include("partials/footer") -%>
